.clock__time {
    font-size: 30px;
}
.wrapper__time__data {
    display: flex;
    align-items: center;
}

.clock__data {
    font-size: 20px;
}

.wrapper__manage {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-around;
}

.started {
    margin-top: 5px;
    background-color: rgba(42,255,16,0.53);
    color:black;
    border:2px solid green;
    font-size: 12px;
    min-width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-shadow: 0 0 5px white;
}

.stoped {
    text-shadow: 0 0 5px white;
    margin-top: 5px;
    background-color: rgba(255,0,0,0.53);
    color:black;
    border:2px solid red;
    font-size: 12px;
    min-width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.wrapper__alt {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.number__time__millisecond {
    font-size: 30px;

}

.list__timeset {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: black;
    color: green;
    border:2px solid green;
    margin-top: 10px;
    max-height: 150px;
    overflow: auto;
}
